{% extends 'base.html' %}

{% block title %} 書名列表 {% endblock %}

{% block content %} 

<div class="container">

    <h1>書名列表</h1>

    <table class="table">
        <tr>
            <th>書名</th>
            <th>作者</th>
            <th>出版社</th>
            <th>出版日期</th>
            <th>定價</th>
        </tr>       
        
        {% for b in bb %}
        <tr>
            <td><a href="{{b.id}}/onebook">{{ b.bookname }}</a></td>
            <td>{{ b.author }}</td>
            <td>{{ b.publisher }}</td>
            <td>{{ b.pubdate }}</td>
            <td>{{ b.price }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}