{% extends 'base.html' %}

{% block title %} {{b.bookname}}-詳細資料 {% endblock %}

{% block content %} 

<div class="container">
    
    <h2>{{ b.bookname }}</h2>

    <p>書名:{{ b.bookname }}</p>
    <p>作者:{{ b.author }}</p>
    <p>出版社:{{ b.publisher }}</p>
    <p>出版日期:{{ b.pubdate }}</p>
    <p>定價: {{ b.price }}</p>
    <p>簡介: {{ b.content }}</p>


    <!-- <div class="row">
        <div class="col-sm-2">書名</div>
        <div class="col-sm-10">{{ b.bookname }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">作者</div>
        <div class="col-sm-10">{{ b.author }}</div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">出版社</div>
        <div class="col-sm-10">{{ b.publisher }}</div>
    </div>

    <div class="row">
        <div class="col-sm-2">出版日期</div>
        <div class="col-sm-10">{{ b.pubdate }}</div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">定價</div>
        <div class="col-sm-10">{{ b.price }}</div>
    </div>

    <div class="row">
        <div class="col-sm-2">簡介</div>
        <div class="col-sm-10">{{ b.content }}</div>
    </div> -->
    
</div>

{% endblock %} 